.DS_Store
**/.DS_Store
git/config
session.vim
.rake_tasks
!ruby/.bundle
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa.pub
vim/.vim/.netrwhist
vim/bundle/**/
!vim/bundle/vundle
vim/.vim/tmp/**/*
!vim/.vim/tmp/backup/.gitkeep
!vim/.vim/tmp/undo/.gitkeep
!vim/.vim/tmp/swap/.gitkeep
